<h1>Available letters</h1>
<div id="letters">

</div>

<p id="w">


{{#each words}}
  <li>{{this}}</li>
  {{/each}}


</p>

<input type="text" id="word" onkeyup="provideFeedback(event)">
<div id="feedback"></div>


<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="js/alphabetHandler.js"></script>
<script>
    // clear the input text box
    document.getElementById("word").value = "";

    // init client socket
    var socket = io();

    // update the alphabet after a player has used a letter
    socket.on('alphabet update', function(alphabet) {
        alert(alphabet);
        var lettersDiv = document.getElementById('letters');
        var ul = document.createElement('ul');

        var letters = document.getElementById("letters");
        for (var i = 0; i < alphabet.length; i++) {
            var li = document.createElement('li');
            ul.appendChild(li);
            li.innerHTML = alphabet[i];
        }
        lettersDiv.appendChild(ul);
    });

    // triggered event after user input
    function provideFeedback(event) {
        var text = document.getElementById("word").value;
        var lastLetter = text[text.length - 1];
        if (event.keyCode == 8) {
            // backslash key was pressed

        }
        else {
            socket.emit('key add', lastLetter);
            return false;
        }

        // following code won't run, trying stuff
        console.log(text);
        var word = document.getElementById("w").innerHTML;
        console.log(word);

        // var text = document.getElementById("word").value;
        var feedback = document.getElementById("feedback");
        var ans = checkSpelling(text, word);
        if (ans) feedback.innerHTML = "You are doing so well I'm proud of you son";
        else feedback.innerHTML = "boo";
    }

    function checkSpelling(a, b) {
        for (var i = 0; i < a.length; i++) {
            if (a[i] != b[i]) return false;
        }
        return true;
    }
</script>
