<h1>Pick a name</h1>
<!-- host should be used for the action -->
<form method="get" action="http://localhost:3000/game">
<input type="text" id="nickname" name="nickname">
<!-- {{host}} -->
<button type="submit">GO</button>
</form>
